.idea/
node_modules/
v8/
*.log
application/**/*.js
conf/**/*.js
TaskQueue/**/*.js
UnityFrontUtils/**/*.js
model/**/*.js
package-lock.json
/UnityFrontUtils/log
/application/Dome/controller/nvidia-smi.
/public/upload/*
