*{
    text-align: center;
}
.content{
    width: 700px;
    box-shadow: 0 0 5px #e5e5e5;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    position: fixed;
    top:25%;
    left: 25%;
    transform: translate(-50%,-50%);
    top: calc(50%);
    left: calc(50%);
}
h2{

}
p{
    color: #999999;
}
