<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3d测试案例</title>
    <script src="__PUBLIC__/js/three.js"></script>
<!--    https://ithanmang.gitee.io/threejs/home/libs/examples/js-->
    <script src="__PUBLIC__/js/OrbitControls.js"></script>
    <script src="__PUBLIC__/js/dat.gui.min.js"></script>
    <script src="__PUBLIC__/js/stats.min.js"></script>
    <script src="__PUBLIC__/js/Detector.js"></script>

    <style>
        body { margin: 0; }
        canvas { display: block; }
        #info {
            position: absolute;
            top: 10px;
            width: 100%;
            text-align: center;
            z-index: 100;
            display:block;
        }
    </style>
</head>

<body>
<script src="__PUBLIC__/js/3d/3d.ts"></script>
</body>
</html>