<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #container{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <script src="/public/vs/loader.js"></script>
</head>
<body>
<div id="container"></div>
<script>
    require.config({ paths: { 'vs': '/public/vs' }});
    require(['vs/editor/editor.main'], function() {
        var editor = monaco.editor.create(document.getElementById('container'), {
            value: `
interface A {

}
interface a {
    a?:string;
    aa?(a:string,b:boolean):A;
}

class aa implements a{
    a:"asa";
    constructor(){

    }
    aa(a,b):A{
        return;
    }
}
            `,
            language: 'html',
            theme:"vs-dark",
            tabSize:2,
        });
        editor.onKeyUp(()=>{
            console.log(editor.getValue())
        })
    });
</script>
</body>
</html>