@font-face {
  font-family: 'iconfont';
  /* project id 1012237 */
  src: url('//at.alicdn.com/t/font_1285264_zl3mvplx6eo.eot');
  src: url('//at.alicdn.com/t/font_1285264_zl3mvplx6eo.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1285264_zl3mvplx6eo.woff2') format('woff2'), url('//at.alicdn.com/t/font_1285264_zl3mvplx6eo.woff') format('woff'), url('//at.alicdn.com/t/font_1285264_zl3mvplx6eo.ttf') format('truetype'), url('//at.alicdn.com/t/font_1285264_zl3mvplx6eo.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont';
}
* {
  font-size: 12px;
  cursor: default;
  outline: medium;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border-radius: 0;
  border: none;
}
.weui-mask {
  display: none;
}
p.msg {
  color: #b4b4b4;
}
p.box {
  background-color: #3b3b3b;
  border-radius: 4px;
  padding: 15px;
}
.borderLine {
  width: 100%;
  height: 0;
  border-top: 4px solid #212121;
}
.webkit-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}
.webkit-scrollbar::-webkit-scrollbar {
  display: block;
}
.webkit-scrollbar::-webkit-scrollbar-button {
  background: #2e2e2e;
}
.webkit-scrollbar::-webkit-scrollbar-track {
  background: #2e2e2e;
}
.webkit-scrollbar::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 4px;
}
.webkit-scrollbar::-webkit-scrollbar-corner {
  background: #fff;
}
.webkit-input-placeholder::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b4b4b4;
}
.webkit-input-placeholder:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b4b4b4;
}
.webkit-input-placeholder::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b4b4b4;
}
.webkit-input-placeholder:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b4b4b4;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
.z_Input {
  color: #b4b4b4;
  padding-left: 0 !important;
  padding-right: 0 !important;
  line-height: 30px;
}
.z_Input .weui-icon-clear {
  display: none;
}
.z_Input .weui-cell__primary {
  padding: 0 15px;
  background-color: #292929;
  box-shadow: inset 0 0 3px #000000;
  height: 30px;
}
.z_Input input {
  line-height: 30px;
  height: 30px;
}
.z_Input input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b4b4b4;
}
.z_Input input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b4b4b4;
}
.z_Input input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b4b4b4;
}
.z_Input input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b4b4b4;
}
.z_textarea {
  color: #b4b4b4;
}
.z_textarea .weui-cell__bd {
  padding: 0 15px;
}
.z_textarea .weui-cell__bd textarea {
  background-color: #292929;
  box-shadow: inset 0 0 3px #000000;
  padding: 0 15px;
}
.z_textarea .weui-cell__bd textarea::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}
.z_textarea .weui-cell__bd textarea::-webkit-scrollbar {
  display: block;
}
.z_textarea .weui-cell__bd textarea::-webkit-scrollbar-button {
  background: #2e2e2e;
}
.z_textarea .weui-cell__bd textarea::-webkit-scrollbar-track {
  background: #2e2e2e;
}
.z_textarea .weui-cell__bd textarea::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 4px;
}
.z_textarea .weui-cell__bd textarea::-webkit-scrollbar-corner {
  background: #fff;
}
.z_textarea.palr {
  padding-left: 0 !important;
}
.z_select {
  min-height: 30px;
  color: #b4b4b4;
}
.z_select .multiselect__select {
  height: 30px;
}
.z_select .multiselect__tags {
  background-color: #292929;
  border-radius: 0;
  border: none;
  box-shadow: inset 0 0 3px #000000;
  padding-top: 4px;
  height: 30px;
  min-height: 30px;
}
.z_select .multiselect__tags input {
  background-color: transparent;
  color: #b4b4b4;
}
.z_select .multiselect__tags input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b4b4b4;
}
.z_select .multiselect__tags input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b4b4b4;
}
.z_select .multiselect__tags input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b4b4b4;
}
.z_select .multiselect__tags input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b4b4b4;
}
.z_select .multiselect__single {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
}
.z_select .multiselect__content-wrapper {
  background-color: #292929;
  border: 0;
  box-shadow: 0 0 3px #000000;
}
.z_select .multiselect__content-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}
.z_select .multiselect__content-wrapper::-webkit-scrollbar {
  display: block;
}
.z_select .multiselect__content-wrapper::-webkit-scrollbar-button {
  background: #2e2e2e;
}
.z_select .multiselect__content-wrapper::-webkit-scrollbar-track {
  background: #2e2e2e;
}
.z_select .multiselect__content-wrapper::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 4px;
}
.z_select .multiselect__content-wrapper::-webkit-scrollbar-corner {
  background: #fff;
}
.z_select .multiselect__content-wrapper .multiselect__content .multiselect__element .multiselect__option--highlight {
  background-color: #383838;
}
.z_select.z_select_more .multiselect__tags {
  height: auto;
}
.z_select.z_select_more .multiselect__tags input {
  position: relative;
  z-index: 2;
}
.z_XButton {
  background-color: #383838 !important;
  color: #b4b4b4 !important;
  font-size: 12px !important;
  background: -webkit-linear-gradient(#383838, #252525);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#383838, #252525);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#383838, #252525);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#383838, #252525);
  /* 标准的语法 */
  box-shadow: inset 0 0 2px #000000;
}
.z_XButton:hover {
  background: -webkit-linear-gradient(#323232, #292929);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#323232, #292929);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#323232, #292929);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#323232, #292929);
  /* 标准的语法 */
  box-shadow: inset 0 0 2px #000000;
}
body.theme.black {
  background-color: #292929 !important;
}
/*# sourceMappingURL=public.css.map */