//todo 阿里图标库

@font-face {
  font-family: 'iconfont';  /* project id 1012237 */
  src: url('//at.alicdn.com/t/@{fontNumber}.eot');
  src: url('//at.alicdn.com/t/@{fontNumber}.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/@{fontNumber}.woff2') format('woff2'),
  url('//at.alicdn.com/t/@{fontNumber}.woff') format('woff'),
  url('//at.alicdn.com/t/@{fontNumber}.ttf') format('truetype'),
  url('//at.alicdn.com/t/@{fontNumber}.svg#iconfont') format('svg');
}
.iconfont{
  font-family: 'iconfont';
}

*{
  font-size: 12px;
  cursor: default;
  outline: medium;
  //禁止选中文字
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

ul,li,p,a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border-radius: 0;
  border:none;
}
.weui-mask{
  display: none;
}
p{
  &.msg{
    color: #b4b4b4;
  }
  &.box{
    background-color: @themeColor/0.7;
    border-radius: 4px;
    padding: 15px;
  }
}
