<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yy</title>
    <style>
        body{
            margin: 0;
        }
        .box{
            overflow: hidden;
            width: 45px;
            height: 45px;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(10);
        }
        iframe{
            opacity: 1;
            position: absolute;
            left: -95px;
            top: -383px;
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
<div class="box">
    <iframe src="https://www.yy.com/54880976/54880976?tempId=16777217"></iframe>
</div>
</body>
</html>